# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Website/node_modules
/Website/.pnp
/Website/.pnp.*
/Website/.yarn/*
!.Website/.yarn/patches 
!.Website/.yarn/plugins
!.Website/.yarn/releases
!.Website/.yarn/versions
/admin/node_modules
/admin/.pnp
/admin/.pnp.*
/admin/.yarn/*
!.admin/.yarn/patches 
!.admin/.yarn/plugins
!.admin/.yarn/releases
!.admin/.yarn/versions

# testing
/Website/coverage
/admin/coverage

# next.js
/Website/.next/
/Website/out/
/admin/.next/
/admin/out/

# production
/Website/build
/admin/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.vscode